@model IndexModel
@{
}

<div>
    <span class="d-inline-block">Appointment: @(Model.AppointmentModelInput != null ? Model.AppointmentModelInput.Date + " " + Model.AppointmentModelInput.Time : "")</span>
    <div class="modal-footer">
        <button class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        <form method="post">
            <input type="submit" class="btn btn-danger" value="Confirm Cancel" asp-page-handler="Cancel" asp-route-id="@(Model.AppointmentModelInput != null ? Model.AppointmentModelInput.AvailabilityId : " ")" />
        </form>
    </div>
</div>
