@using Utility
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SteamboatWillieWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SteamboatWillieWeb.styles.css" asp-append-version="true" />
    <script src="https://cdn.tiny.cloud/1/rbmn6134w0xwl27zltscq3547nfsov9c4du4iupormmw32mp/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Steamboat Scheduler<img src="~/images/steamboatwillie.png" width="25px" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Index">Dashboard</a>
                        </li>
                        @if (User.IsInRole(SD.CLIENT_ROLE))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" asp-area="" asp-page="">Schedule Appointment</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="" asp-page="/Appointment/Index">Tutoring</a>
                                    <a class="dropdown-item" asp-area="" asp-page="/Appointment/AdvisingNeed">Advising</a>
                                    <a class="dropdown-item" asp-area="" asp-page="/Appointment/Index">Instructor</a>
                                </div>
                            </li>
                        }

                        @if (User.IsInRole(SD.PROVIDER_ROLE))
                        {
                            <li>
                                <a class="nav-link" asp-area="" asp-page="">Availablity</a>
                            </li>
                        }


                        @if (User.IsInRole(SD.ADMIN_ROLE))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" asp-area="" asp-page="">User Managment</a> @* Ignore the asp stuff. Color wouldn't work without them *@
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="" asp-page="/Users/Index">Users</a>
                                    <a class="dropdown-item" asp-area="" asp-page="/Roles/Index">Roles</a>
                                </div>
                            </li>
                        }

                        <li>
                            <a class="nav-link" asp-area="" asp-page="/AboutUs">About Us</a>
                        </li>

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_ToastrNotification" />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Steamboat Scheduler - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount linkchecker',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
        });</script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>