@page
@model SteamboatWillieWeb.Pages.Appointments.AdvisingNeedModel
@{
}
<h2>What type of student are you?</h2>
<a asp-route-type="NewStudent" asp-page="./Index"><input type="button" class="btn btn-primary" value="New Student"/></a>
<a asp-route-type="ExistingStudent" asp-page="./Index"><input type="button" class="btn btn-primary" value="Existing Student"/></a>
<a asp-route-type="FlexStudent" asp-page="./Index"><input type="button" class="btn btn-primary" value="Flex Student"/></a>