@page
@model SteamboatWillieWeb.Pages.Appointments.IndexModel
@{
}
<h1>Appointments</h1>


<head>
    <form method="post" id="detailsForm">
    </form>
    <meta charset='utf-8' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                allDaySlot: false,
                slotMinTime: '07:00:00',
                slotMaxTime: '19:00:00',
                height: 'auto',
                headerToolbar: {
                    left: 'prev,next',
                    center: 'title',
                    right: 'today dayGridMonth,timeGridWeek' // user can switch between the two
                },
                views: {
                    dayGridMonth: {
                        dayMaxEvents: 5,
                        moreLinkClick: 'timeGridDay'
                    },
                },
                eventClick: function (info) { //Needs to be updated with whatever info we want to show on click
                    var input = $("<input>")
                        .attr("type", "hidden")
                        .attr("name", "availabilityId").val(info.event.id);
                    $('#detailsForm').append(input);
                    $('#detailsForm').submit();
                }
            });
        @if(Model.CalendarObj != null){
            foreach (var obj in Model.CalendarObj)
            {
                <text>
                    var e = { id: '@obj.Id.ToString()', title: '@obj.Name.ToString()', start: '@obj.StartTime.ToString()', end: '@obj.EndTime.ToString()', url: ''};
                    calendar.addEvent(e);
                </text>
            }
        }
        calendar.render();
        });
    </script>
</head>
<body>
    <div id='calendar'></div>
</body>
