@page
@model SteamboatWillieWeb.Pages.AboutUsModel
<div>

    <h1>About Us</h1>
    <p>We are a group of students from Weber State University who have built this appointment scheduling application to practice and develop our web development skills.</p>
    <hr>
    <div>
        <h5>Nathan Davis</h5>
        <p>Nate is a Computer Science student at Weber State University.</p>
        <p>Contact: <a href="mailto:nathandavis8@mail.weber.edu" title="Trust me no spam">nathandavis8@mail.weber.edu</a></p>
   
    </div>
    <div style="padding-top: 30px">
        <h5>Alexander Whipple</h5>
        <p>Alex is a Computer Science student at Weber State University.</p>
        <p>Contact: <a href="mailto:alexanderwhipple@mail.weber.edu" title="I will spam you">alexanderwhipple@mail.weber.edu</a></p>
    </div>
    <div style="padding-top: 30px">
        <h5>Michael Merriman</h5>
        <p>Michael is a Computer Science student at Weber State University.</p>
        <p>Contact: <a href="mailto:michaelmerriman@weber.edu" title="DO A SPIN">michaelmerriman@weber.edu</a></p>
    </div>
    <div style ="padding-top: 30px">
        <h5>Xavier Leon</h5>
        <p>Xavier is a Computer Science student at Weber State University.</p>
        <p>He enjoys esports, jigsaw puzzles, and fountain pens.</p>
        <p>He is 25 years old.</p>
        <p>Contact: <a href="mailto:xavierleon@mail.weber.edu" title="This is all I did">xavierleon@mail.weber.edu</a></p>
    </div>
    <div style="padding-top: 30px">
        <h5>Sofia Jones</h5>
        <p>Sofie is a Computer Science student at Weber State University.</p>
        <p>Contact: <a href="mailto:sofiajones@mail.weber.edu" title="DO A FLIP">sofiajones@mail.weber.edu</a></p>
    </div>
</div>