@page
@model SteamboatWillieWeb.Pages.AboutUsModel
<div>

    <h1>About Us</h1>
    <p style="width:75%">
        We are a passionate group of students dedicated to honing our web development skills through practical application. Our journey began with a shared enthusiasm for technology and a desire to create something meaningful. As we delved into the world of web development, we realized the importance of hands-on experience in mastering this craft.
    </p>
    <p style="width:75%">
        Driven by this realization, we embarked on a mission to build an appointment scheduling application from scratch. This endeavor served as both a learning experience and a testament to our commitment to growth. Through countless hours of coding, debugging, and collaboration, we transformed our ideas into a fully functional platform.
    </p>
    <p style="width:75%">
        Our journey wasn't without its challenges, but we embraced each obstacle as an opportunity to learn and improve. From refining our coding techniques to enhancing user experience, every step of the way has been a valuable lesson in the art of web development.
    </p>
    <p style="width:75%">
        At SteamboatWillie, we believe in the power of collaboration and continuous learning. Our project is not just about building an application; it's about pushing the boundaries of our capabilities and striving for excellence. We are excited to share our creation with the world and to continue our journey of growth and innovation.
    </p>
    <hr>
    <div class="row mb-5">
        <div class="col-auto">
            <div class="circle-img">
                <img src="~/images/aboutusimages/nopic.jpeg" />
            </div>
        </div>
        <div class="col" style="padding-top: 30px">
            <h5>Nathan Davis</h5>
            <p>Nate is a Computer Science student at Weber State University.</p>
            <a href="mailto:nathandavis8@mail.weber.edu" title="Trust me no spam" class="btn btn-secondary">
                <i class="fa fa-envelope"></i>
            </a>
            <a href="#" title="Go to Linkedin" class="btn btn-secondary">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-auto">
            <div class="circle-img">
                <img src="~/images/aboutusimages/Alex.JPEG" />
            </div>
        </div>
        <div class="col" style="padding-top: 30px">
            <h5>Alexander Whipple</h5>
            <p>Alex is a Computer Science student at Weber State University.</p>
            <a href="mailto:alexanderwhipple@mail.weber.edu" title="Send Email" class="btn btn-secondary">
                <i class="fa fa-envelope"></i>
            </a>
            <a href="https://www.linkedin.com/in/aswhip/" title="Go to Linkedin" class="btn btn-secondary">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-auto">
            <div class="circle-img">
                <img src="~/images/aboutusimages/nopic.jpeg" />
            </div>
        </div>
        <div class="col" style="padding-top: 30px">
            <h5>Michael Merriman</h5>
            <p>Michael is a Computer Science student at Weber State University.</p>
            <a href="mailto:michaelmerriman@weber.edu" title="DO A SPIN" class="btn btn-secondary">
                <i class="fa fa-envelope"></i>
            </a>
            <a href="#" title="Go to Linkedin" class="btn btn-secondary">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-auto">
            <div class="circle-img">
                <img src="~/images/aboutusimages/nopic.jpeg" />
            </div>
        </div>
        <div class="col" style="padding-top: 30px">
            <h5>Sofia Jones</h5>
            <p>Sofie is a Computer Science student at Weber State University.</p>
            <a href="mailto:sofiajones@mail.weber.edu" title="DO A FLIP" class="btn btn-secondary">
                <i class="fa fa-envelope"></i>
            </a>
            <a href="#" title="Go to Linkedin" class="btn btn-secondary">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-auto">
            <div class="circle-img">
                <img src="~/images/aboutusimages/nopic.jpeg" />
            </div>
        </div>
        <div class="col" style="padding-top: 30px">
            <h5>Xavier Leon</h5>
            <p>Xavier is a Computer Science student at Weber State University.</p>
            <p>He enjoys esports, jigsaw puzzles, and fountain pens.</p>
            <p>He is 25 years old.</p>
            <a href="mailto:xavierleon@mail.weber.edu" title="This is all I did" class="btn btn-secondary">
                <i class="fa fa-envelope"></i>
            </a>
            <a href="#" title="Go to Linkedin" class="btn btn-secondary">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
    </div>

</div>

<style>
    .circle-img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
    }

        .circle-img img {
            width: auto;
            height: auto;
            max-width: 150%;
            max-height: 150%;
            object-fit: cover;
        }
</style>

<script src="https://kit.fontawesome.com/6c3f05a1b4.js" crossorigin="anonymous"></script>