@page
@model SteamboatWillieWeb.Pages.AboutUsModel
<div>

    <h1>About Us</h1>
    <p>We are a group of students from Weber State University who have built this appointment scheduling application to practice and develop our web development skills.</p>
    <hr>
    <div>
        <h5>Nathan Davis</h5>
        <p>Nate is a Computer Science student at Weber State University.</p>
        <p>Contact: nathandavis8@mail.weber.edu</p>
   
    </div>
    <div style="padding-top: 30px">
        <h5>Alexander Whipple</h5>
        <p>Alex is a Computer Science student at Weber State University.</p>
        @* alexanderwhipple@mail.weber.edu *@
    </div>
    <div style="padding-top: 30px">
        <h5>Michael Merriman</h5>
        <p>Michael is a Computer Science student at Weber State University.</p>
        @* michaelmerriman@weber.edu *@
    </div>
    <div style ="padding-top: 30px">
        <h5>Xavier Leon</h5>
        <p>Xavier is a Computer Science student at Weber State University.</p>
        <p>He enjoys esports, jigsaw puzzles, and fountain pens.</p>
        <p>He is 25 years old.</p>
        <p>Contact: xavierleon@mail.weber.edu</p>
    </div>
    <div style="padding-top: 30px">
        <h5>Sofia Jones</h5>
        <p>Sofie is a Computer Science student at Weber State University.</p>
        @* sofiajones@mail.weber.edu *@
    </div>
</div>