@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
<p>
        Please check your email to confirm your account. 
        If you don't receive an email within 5 minutes, please <a asp-page="./ResendEmailConfirmation">click here</a> to resend email verification.
</p>
}

