@page
@model SteamboatWillieWeb.Pages.Availability.IndexModel
@{
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">

<h2>Availability</h2>
<form method="post" id="form">
    <input asp-for="TestDateInput.ProviderId" hidden />
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="form-control bg-black">
        <div class="form-group mb-3">
            <label asp-for="TestDateInput.StartDate" class="text-white"></label>
            <input asp-for="TestDateInput.StartDate" class="form-control bg-secondary text-white" />
            <span asp-validation-for="TestDateInput.StartDate" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="TestDateInput.Duration" class="text-white"></label>
            <select asp-for="TestDateInput.Duration" class="form-select bg-secondary text-white">
                <option disabled selected>Select:</option>
                <option value="00:15:00">15 Min</option>
                <option value="00:30:00">30 Min</option>
                <option value="01:00:00">60 Min</option>
            </select>
            <span asp-validation-for="TestDateInput.Duration" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="TestDateInput.NumAppointments" class="text-white"></label>
            <input asp-for="TestDateInput.NumAppointments" class="form-control bg-secondary text-white" onkeypress="return (event.charCode >= 48 && event.charCode <= 57 && this.value <= 10)" />
            <span asp-validation-for="TestDateInput.NumAppointments" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="TestDateInput.StartTime" class="text-white"></label>
            <input asp-for="TestDateInput.StartTime" class="form-control bg-secondary text-white" />
            <span asp-validation-for="TestDateInput.StartTime" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <div>
                <input type="radio" name="locationType" id="chooseLocation" value="chooseLocation" checked>
                <label class="text-white" for="chooseLocation">Choose Location</label>
                <input class="ms-3" type="radio" name="locationType" id="makeLocation" value="makeLocation">
                <label class="text-white" for="makeLocation">Make Location</label>
            </div>
        </div>
        <div class="form-group mb-3">
            <div id="chooseLocationDiv">
                <label asp-for="TestDateInput.LocationId" class="text-white"></label>
                <select asp-for="TestDateInput.LocationId" asp-items="Model.Locations" class="form-select bg-secondary text-white">
                    <option disabled selected>Select:</option>
                </select>
                <span asp-validation-for="TestDateInput.LocationId" class="text-danger"></span>
            </div>
            <div id="makeLocationDiv" style="display:none;">
                <label class="text-white">Create New Location: </label>
                <input asp-for="TestDateInput.Location" value="@Model.TestDateInput.Location" class="form-control bg-secondary text-white" placeholder="Zoom link, Office, etc" id="newLocationInput"/>
                <input asp-for="TestDateInput.LocationId" value="0" hidden />
                <span asp-validation-for="TestDateInput.Location" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group mb-3">
            <div>
                <label asp-for="TestInput.Recurrence" class="text-white"></label>
                <input id="recurrence" asp-for="TestInput.Recurrence" class="bg-secondary text-white" />
            </div>
        </div>
        <div class="form-group mb-3" id="otherThings" style="display: none">
            <div>
                <label class="text-white">Days of the Week: </label>
                <div class="mb-3">
                    <button class="btn btn-secondary dropdown-toggle" type="button" onclick="testSelect()" id="showBtn">
                        Select Options
                    </button>
                    <ul class="dropdown-menu" id="select-days">
                        <li>
                            <div class="form-check">
                                <label class="form-check-label" asp-for="TestInput.Sunday"></label>
                                <input class="form-check-input" type="checkbox" asp-for="TestInput.Sunday">
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <label class="form-check-label" asp-for="TestInput.Monday"></label>
                                <input class="form-check-input" type="checkbox" asp-for="TestInput.Monday">
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <label class="form-check-label" asp-for="TestInput.Tuesday"></label>
                                <input class="form-check-input" type="checkbox" asp-for="TestInput.Tuesday">
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <label class="form-check-label" asp-for="TestInput.Wednesday"></label>
                                <input class="form-check-input" type="checkbox" asp-for="TestInput.Wednesday">
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <label class="form-check-label" asp-for="TestInput.Thursday"></label>
                                <input class="form-check-input" type="checkbox" asp-for="TestInput.Thursday">
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <label class="form-check-label" asp-for="TestInput.Friday"></label>
                                <input class="form-check-input" type="checkbox" asp-for="TestInput.Friday">
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <label class="form-check-label" asp-for="TestInput.Saturday"></label>
                                <input class="form-check-input" type="checkbox" asp-for="TestInput.Saturday">
                            </div>
                        </li>
                    </ul>
                    <span asp-validation-for="TestInput.Recurrence" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="TestInput.IsWeekly" class="text-white"></label>
                    <input asp-for="TestInput.IsWeekly" class="bg-secondary text-white" id="isWeekly"/>
                </div>

                <div class="form-group mb-3" style="display: none" id="weeklyEnd">
                    <label asp-for="TestInput.EndDate" class="text-white"></label>
                    <input asp-for="TestInput.EndDate" class="form-control bg-secondary text-white" />
                    <span asp-validation-for="TestInput.EndDate" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="text-end">
        <input type="submit" class="btn btn-secondary"/>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    document.getElementById('recurrence').addEventListener('click', function () {
        $('#otherThings').toggle();
    });

    $('#isWeekly').click(function () {
        $('#weeklyEnd').toggle();
    });

    $('input[name="locationType"]').change(function () {
        if ($('#makeLocation').is(':checked')) {
            $('#chooseLocationDiv').hide();
            $('#makeLocationDiv').show();
            sessionStorage.setItem('location', 'checked');
        } else {
            $('#chooseLocationDiv').show();
            $('#makeLocationDiv').hide();
            sessionStorage.setItem('location', 'clear');
        }
    });

    $(document).ready(function () {
        if (document.getElementById('recurrence').checked) {
            $('#otherThings').show();
        }
        if (document.getElementById('isWeekly').checked) {
            $('#weeklyEnd').show();
        } else {
            $('#weeklyEnd').hide();
        }

        if (sessionStorage.getItem('location') == 'checked') {
            document.getElementById('makeLocation').checked = true;
            $('#chooseLocationDiv').hide();
            $('#makeLocationDiv').show();
        } else {
            document.getElementById('chooseLocation').checked = true;
            $('#makeLocationDiv').hide();
            $('#chooseLocationDiv').show();
        }   
    });


    
    function testSelect() {
        $('#select-days').toggle();
    }

    window.addEventListener('click', function (e) {
        if (!(document.getElementById('select-days').contains(e.target) || document.getElementById('showBtn').contains(e.target))) {
            $('#select-days').hide();
        }
    });

</script>
