@page
@model SteamboatWillieWeb.Pages.Availability.IndexModel
@{
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">

<h2>Availability</h2>
<form method="post" id="form">
    <input asp-for="AvailabilityModelInput.ProviderId" hidden />
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="form-control bg-black">
        <div class="form-group mb-3">
            <label asp-for="AvailabilityModelInput.StartDate" class="text-white"></label>
            <input asp-for="AvailabilityModelInput.StartDate" class="form-control bg-secondary text-white" />
            <span asp-validation-for="AvailabilityModelInput.StartDate" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="AvailabilityModelInput.Duration" class="text-white"></label>
            <select asp-for="AvailabilityModelInput.Duration" class="form-select bg-secondary text-white">
                <option disabled selected>Select:</option>
                <option value="00:15:00">15 Min</option>
                <option value="00:30:00">30 Min</option>
                <option value="01:00:00">60 Min</option>
            </select>
            <span asp-validation-for="AvailabilityModelInput.Duration" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="AvailabilityModelInput.NumAppointments" class="text-white"></label>
            <input asp-for="AvailabilityModelInput.NumAppointments" class="form-control bg-secondary text-white" onkeypress="return (event.charCode >= 48 && event.charCode <= 57 && this.value <= 10)" />
            <span asp-validation-for="AvailabilityModelInput.NumAppointments" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="AvailabilityModelInput.StartTime" class="text-white"></label>
            <input asp-for="AvailabilityModelInput.StartTime" class="form-control bg-secondary text-white" />
            <span asp-validation-for="AvailabilityModelInput.StartTime" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <div>
                <input type="radio" name="locationType" id="chooseLocation" value="chooseLocation" checked>
                <label class="text-white" for="chooseLocation">Choose Location</label>
                <input class="ms-3" type="radio" name="locationType" id="makeLocation" value="makeLocation">
                <label class="text-white" for="makeLocation">Make Location</label>
            </div>
        </div>
        <div class="form-group mb-3">
            <div id="chooseLocationDiv">
                <label asp-for="AvailabilityModelInput.LocationId" class="text-white"></label>
                <select asp-for="AvailabilityModelInput.LocationId" asp-items="Model.Locations" class="form-select bg-secondary text-white">
                    <option disabled selected>Select:</option>
                </select>
                <span asp-validation-for="AvailabilityModelInput.LocationId" class="text-danger"></span>
            </div>
            <div id="makeLocationDiv" style="display:none;">
                <div class="row">
                    <div class="col-md-2">
                        <label asp-for="AvailabilityModelInput.Campus" class="text-white"></label>
                        <select asp-for="AvailabilityModelInput.Campus" class="form-select bg-secondary text-white">
                            <option disabled selected>Select:</option>
                            <option value="Ogden">Ogden</option>
                            <option value="Davis">Davis</option>
                            <option value="SLCC">SLCC</option>
                            <option value="Online">Online</option>
                        </select>
                    </div>
                    <div class="col-md-10">
                        <label class="text-white">Create New Location: </label>
                        <input asp-for="AvailabilityModelInput.Location" value="@Model.AvailabilityModelInput.Location" class="form-control bg-secondary text-white" placeholder="Zoom link, Office, etc" id="newLocationInput" />
                        <input asp-for="AvailabilityModelInput.LocationId" value="0" hidden />
                        <span asp-validation-for="AvailabilityModelInput.Location" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        @if (Model.AvailabilityModelInput.CurrentUserTitle == "Advisor")
        {
            <div class="form-group mb-3">
                <label class="text-white">Select Advising Type</label>
                <select class="form-select bg-secondary text-white" asp-for="AvailabilityModelInput.AppointmentType">
                    <option selected value="General Advising">General Advising</option>
                    <option>Full-Time Students</option>
                    <option>Part-Time Students</option>
                    <option>Flex Students</option>
                </select>
            </div>
        }
        @if (Model.AvailabilityModelInput.CurrentUserTitle != "Advisor")
        {
            <div class="form-group mb-3">
                <label asp-for="AvailabilityModelInput.AppointmentType" class="text-white"></label>

                <select class="form-select bg-secondary text-white" asp-for="AvailabilityModelInput.AppointmentType" asp-items="Model.Classes">
                    @if (Model.AvailabilityModelInput.CurrentUserTitle == "Instructor")
                    {
                        <option selected value="Office Hours">Office Hours</option>
                    }
                    else
                    {
                        <option disabled selected>Select a class:</option>
                    }
                </select>
                
                <span asp-validation-for="AvailabilityModelInput.AppointmentType" class="text-danger"></span>
            </div>
        }
            <div class="form-group mb-3">
                <div>
                    <label asp-for="RecurrenceModelInput.Recurrence" class="text-white"></label>
                    <input id="recurrence" asp-for="RecurrenceModelInput.Recurrence" class="bg-secondary text-white" />
                </div>
            </div>
            <div class="form-group mb-3" id="otherThings" style="display: none">
                <div>
                    <label class="text-white">Days of the Week: </label>
                    <div class="mb-3">
                        <button class="btn btn-secondary dropdown-toggle" type="button" onclick="testSelect()" id="showBtn">
                            Select Options
                        </button>
                        <ul class="dropdown-menu" id="select-days">
                            <li>
                                <div class="form-check">
                                    <label class="form-check-label" asp-for="RecurrenceModelInput.Sunday"></label>
                                    <input class="form-check-input bg-secondary text-white" type="checkbox" asp-for="RecurrenceModelInput.Sunday">
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <label class="form-check-label" asp-for="RecurrenceModelInput.Monday"></label>
                                    <input class="form-check-input bg-secondary text-white" type="checkbox" asp-for="RecurrenceModelInput.Monday">
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <label class="form-check-label" asp-for="RecurrenceModelInput.Tuesday"></label>
                                    <input class="form-check-input bg-secondary text-white" type="checkbox" asp-for="RecurrenceModelInput.Tuesday">
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <label class="form-check-label" asp-for="RecurrenceModelInput.Wednesday"></label>
                                    <input class="form-check-input bg-secondary text-white" type="checkbox" asp-for="RecurrenceModelInput.Wednesday">
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <label class="form-check-label" asp-for="RecurrenceModelInput.Thursday"></label>
                                    <input class="form-check-input bg-secondary text-white" type="checkbox" asp-for="RecurrenceModelInput.Thursday">
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <label class="form-check-label" asp-for="RecurrenceModelInput.Friday"></label>
                                    <input class="form-check-input bg-secondary text-white" type="checkbox" asp-for="RecurrenceModelInput.Friday">
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <label class="form-check-label" asp-for="RecurrenceModelInput.Saturday"></label>
                                    <input class="form-check-input bg-secondary text-white" type="checkbox" asp-for="RecurrenceModelInput.Saturday">
                                </div>
                            </li>
                        </ul>
                        <span asp-validation-for="RecurrenceModelInput.Recurrence" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="RecurrenceModelInput.IsWeekly" class="text-white"></label>
                        <input asp-for="RecurrenceModelInput.IsWeekly" class="bg-secondary text-white" id="isWeekly" />
                    </div>

                    <div class="form-group mb-3" style="display: none" id="weeklyEnd">
                        <label asp-for="RecurrenceModelInput.EndDate" class="text-white"></label>
                        <input asp-for="RecurrenceModelInput.EndDate" class="form-control bg-secondary text-white" />
                        <span asp-validation-for="RecurrenceModelInput.EndDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    <div class="text-end">
        <input type="submit" class="btn btn-secondary"/>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    document.getElementById('recurrence').addEventListener('click', function () {
        $('#otherThings').toggle();
    });

    $('#isWeekly').click(function () {
        $('#weeklyEnd').toggle();
    });

    $('input[name="locationType"]').change(function () {
        if ($('#makeLocation').is(':checked')) {
            $('#chooseLocationDiv').hide();
            $('#makeLocationDiv').show();
            sessionStorage.setItem('location', 'checked');
        } else {
            $('#chooseLocationDiv').show();
            $('#makeLocationDiv').hide();
            sessionStorage.setItem('location', 'clear');
        }
    });

    $(document).ready(function () {
        if (document.getElementById('recurrence').checked) {
            $('#otherThings').show();
        }
        if (document.getElementById('isWeekly').checked) {
            $('#weeklyEnd').show();
        } else {
            $('#weeklyEnd').hide();
        }

        if (sessionStorage.getItem('location') == 'checked') {
            document.getElementById('makeLocation').checked = true;
            $('#chooseLocationDiv').hide();
            $('#makeLocationDiv').show();
        } else {
            document.getElementById('chooseLocation').checked = true;
            $('#makeLocationDiv').hide();
            $('#chooseLocationDiv').show();
        }   
    });


    
    function testSelect() {
        $('#select-days').toggle();
    }

    window.addEventListener('click', function (e) {
        if (!(document.getElementById('select-days').contains(e.target) || document.getElementById('showBtn').contains(e.target))) {
            $('#select-days').hide();
        }
    });

</script>
