@page
@model SteamboatWillieWeb.Pages.Availability.IndexModel
@{
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">

<h2>Availability</h2>
<form method="post" enctype="multipart/form-data" id="form" onsubmit="return validateForm()">
    <input asp-for="objAvailability.ProviderId" hidden />
    <input asp-for="objAvailability.LocationId" hidden />
    <div class="form-control bg-black">
        <div class="form-group mb-3">
            <label for="startDate" class="text-white">Start: </label>
            <div class="input-group">
                <input asp-for="objAvailability.StartTime" name="startDate" id="startDate" class="form-control bg-secondary text-white" type="date" />
                <span id="startCalendarIcon" class="input-group-text bg-secondary">
                    <i class="bi bi-calendar-week-fill"></i>
                </span>
            </div>
            <span id="startDateError"></span>
        </div>
        <div class="form-group mb-3">
            <div>
                <label for="appointmentDuration" class="text-white">Appointment Duration: </label>
                <select asp-for="objAvailability.Duration" name="objAvailability.Duration" id="appointmentDuration" class="form-select bg-secondary text-white">
                    <option>Select:</option>
                    <option value="00:15:00">15 Min</option>
                    <option value="00:30:00">30 Min</option>
                    <option value="01:00:00">60 Min</option>
                </select>
            </div>
            <span id="appointmentDurationError"></span>
        </div>
        <div class="form-group mb-3">
            <div>
                <label for="numAppointments" class="text-white">Number of Appointments: </label>
                <input name="numAppointments" id="numAppointments" class="form-control bg-secondary text-white" type="number" />
            </div>
            <span id="numAppointmentsError"></span>
        </div>
        <div class="form-group mb-3">
            <label for="startTime" class="text-white">Start Time: </label>
            <div class="input-group">
                <input asp-for="objAvailability.StartTime" name="startTime" id="startTime" class="form-control bg-secondary text-white" type="time" />
                <span id="clockIcon" class="input-group-text bg-secondary">
                    <i class="bi bi-clock-fill"></i>
                </span>
            </div>
            <span id="startTimeError"></span>
        </div>
        <div class="form-group mb-3">
            <div>
                <input type="radio" name="locationType" id="chooseLocation" value="chooseLocation" checked>
                <label class="text-white" for="chooseLocation">Choose Location</label>
                <input class="ms-3" type="radio" name="locationType" id="makeLocation" value="makeLocation">
                <label class="text-white" for="makeLocation">Make Location</label>
            </div>
        </div>
        <div class="form-group mb-3">
            <div id="chooseLocationDiv">
                <label for="dropdownOptions" class="text-white">Location: </label>
                <select asp-for="objAvailability.LocationId" name="objAvailability.LocationId" class="form-select bg-secondary text-white" id="dropdownOptions">
                    <option>Select: </option>
                    @foreach (var option in Model.DropdownOptions)
                    {
                        <option value="@option.Value">@option.Text</option>
                    }
                </select>
            </div>
            <div id="makeLocationDiv" style="display:none;">
                <label for="location" class="text-white">Location: </label>
                <input asp-for="objLocation.LocationValue" id="location" class="form-control bg-secondary text-white" placeholder="Zoom link, Office, etc" />
            </div>
        </div>
        <div class="form-group mb-3">
            <div>
                <label for="recurrence" class="text-white">Recurrence: </label>
                <input id="recurrence" name="recurrence" class="bg-secondary text-white" type="checkbox" />
            </div>
            <span id="recurrenceError"></span>
        </div>
        <div class="form-group mb-3" id="otherThings" style="display: none">
            <div>
                <label for="weekDays" class="text-white">Days of the Week: </label>
                <div class="dropdown mb-3">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" aria-expanded="false">
                        Select Options
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Sunday" id="checkbox1" name="weekDays[]">
                            <label class="form-check-label" for="checkbox1">
                                Sunday
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Monday" id="checkbox2" name="weekDays[]">
                            <label class="form-check-label" for="checkbox2">
                                Monday
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Tuesday" id="checkbox3" name="weekDays[]">
                            <label class="form-check-label" for="checkbox3">
                                Tuesday
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Wednesday" id="checkbox4" name="weekDays[]">
                            <label class="form-check-label" for="checkbox4">
                                Wednesday
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Thursday" id="checkbox5" name="weekDays[]">
                            <label class="form-check-label" for="checkbox5">
                                Thursday
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Friday" id="checkbox6" name="weekDays[]">
                            <label class="form-check-label" for="checkbox6">
                                Friday
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Saturday" id="checkbox7" name="weekDays[]">
                            <label class="form-check-label" for="checkbox7">
                                Saturday
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="weekly" class="text-white">Weekly: </label>
                    <input id="weekly" name="weekly" class="bg-secondary text-white" type="checkbox" />
                </div>

                <div class="form-group mb-3">
                    <label for="endDate" class="text-white">Until: </label>
                    <div class="input-group">
                        <input id="endDate" name="endDate" class="form-control bg-secondary text-white" type="date" />
                        <span id="endCalendarIcon" class="input-group-text bg-secondary">
                            <i class="bi bi-calendar-week-fill"></i>
                        </span>
                    </div>
                    <span id="endDateError"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="text-end">
        <button type="submit" class="btn btn-secondary" name="return">Set Availability</button>
    </div>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>document.getElementById('startCalendarIcon').addEventListener('click', function () {
        document.getElementById('startDate').click();
    });

    document.getElementById('endCalendarIcon').addEventListener('click', function () {
        document.getElementById('endDate').click();
    });

    document.getElementById('clockIcon').addEventListener('click', function () {
        document.getElementById('startTime').focus();
    });

    document.getElementById('startDate').addEventListener('change', function () {
        document.getElementById('startDate').blur(); // Blur to close date picker
    });

    document.getElementById("recurrence").addEventListener("change", function () {
        var otherThings = document.getElementById("otherThings");
        if (this.checked) {
            otherThings.style.display = "block";
        } else {
            otherThings.style.display = "none";
        }
    });

    document.addEventListener('DOMContentLoaded', function () {
        var dropdownToggle = document.querySelector('.dropdown-toggle');
        var dropdownMenu = document.querySelector('.dropdown-menu');

        dropdownToggle.addEventListener('click', function () {
            dropdownMenu.classList.toggle('show');
        });

        // Close the dropdown menu if the user clicks outside of it
        window.addEventListener('click', function (event) {
            if (!dropdownToggle.contains(event.target) && !dropdownMenu.contains(event.target)) {
                dropdownMenu.classList.remove('show');
            }
        });
    });

    $(document).ready(function () {
        $("input[name='locationType']").change(function () {
            if ($("#chooseLocation").is(":checked")) {
                $("#chooseLocationDiv").show();
                $("#makeLocationDiv").hide();
            } else {
                $("#chooseLocationDiv").hide();
                $("#makeLocationDiv").show();
            }
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        var today = new Date().toISOString().split('T')[0];
        document.getElementById('startDate').value = today;
        document.getElementById('endDate').value = today;
    });</script>